// Colors
$color-peach: #e7816b;
$color-light-peach: #ffad9b;
$color-black: #1d1c1e;
$color-dark-grey: #333136;
$color-light-grey: #f1f3f5;
$color-white: #ffffff;

// Button
$button-padding: 12px 24px;
$button-radius: 8px;

// font-family
$font-family-primary: "Jost", sans-serif;