.hero__container {
  margin-top: 16rem;
  height: 640px;
  max-width: 1245px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "wd ad"
    "wd gd";
  gap: 2.4rem;
}
.hero__container__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #ffffff;
  border-radius: 15px;
  width: 100%;
}

.hero__container__item:active {
  background-color: #e7816b;
  opacity: 0.8;
}

.hero__container__item:nth-child(1) {
  background-image: url(../../images/home/desktop/image-web-design-large.jpg);
  height: 64rem;
  height: 100%;
  grid-area: wd;
}
.hero__container__item:nth-child(2) {
  background-image: url(../../images/home/desktop/image-app-design.jpg);
  grid-area: ad;
}
.hero__container__item:nth-child(3) {
  background-image: url(../../images/home/desktop/image-graphic-design.jpg);
  grid-area: gd;
}
.hero__container__title {
  @include font-style(40px, 48px, 500, 2px);
  margin-bottom: 2.4rem;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.hero__container__text {
  @include font-style(15px, 21.5px, 500, 1px);
  align-items: center;
  justify-content: center;
  text-align: center;
}

@media screen and (max-width: 850px) {
  .hero__container {
    padding-left: 3.9rem;
    padding-right: 4rem;
    height: auto;
    margin-top: 12rem;
    grid-template-columns: 1fr;
    grid-template-areas:
      "wd"
      "ad"
      "gd";
  }
  .hero__container__item {
    padding: 53px 0;
  }
}

@media screen and (max-width: 500px) {
}

.hero__cta__container {
  margin-top: 16rem;
  color: #333136;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}
.hero__cta__container__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero__cta__container__img {
  background: linear-gradient(
    90deg,
    rgba(93, 2, 2, 0.2) 0%,
    rgba(93, 2, 2, 0.2) 100%
  );
  border-radius: 50%;
  margin-bottom: 4.8rem;
}
.hero__cta__container__wrapper {
  text-align: center;
}
.hero__cta__container__title {
  @include font-style(20px, 26px, 500, 5px);
  margin-bottom: 3.2rem;
}
.hero__cta__container__text {
  @include font-style(16px, 26px, 400);
}

@media screen and (max-width: 850px) {
  .hero__cta__container {
    padding-left: 3.9rem;
    padding-right: 3.9rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3.2rem;
  }

  .hero__cta__container__item {
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 4.8rem;
  }

  .hero__cta__container__img {
    margin: 0;
  }
  .hero__cta__container__wrapper {
    text-align: start;
  }

  .hero__cta__container__title {
    margin-bottom: 1.6rem;
  }
}

@media screen and (max-width: 500px) {
  .hero__cta__container {
    padding-left: 3.9rem;
    padding-right: 3.9rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .hero__cta__container__item {
    flex-direction: column;
  }
  .hero__cta__container__wrapper {
    text-align: center;
  }
}
