.web-header__hero {
  background-color: #e7816b;
  border-radius: 15px;
  padding: 6.4rem 19rem;
  background-image: url(../../images/home/desktop/bg-pattern-hero-home.svg);
  background-size: 292px;
  background-position: center 141px;
}
.web-header__hero__container {
  text-align: center;
  color: #ffffff;
}

.web__hero {
  margin-bottom: 16rem;
  margin-top: 16rem;
}

.web__hero__container {
  display: flex;
  column-gap: 3rem;
  margin-bottom: 3.2rem;
}
.web__hero__container__second {
  display: flex;
  gap: 3rem;
}
.info__container {
  background-color: #fdf3f0;
  padding: 3.2rem;
  text-align: center;
  border-radius: 0 0 15px 15px;
}
.info__container:active {
  background-color: #e7816b;
  color: #ffffff;
}

.web-design__img {
  max-width: 350px;
  max-height: 478px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.web__hero__title {
  color: #e7816b;
  @include font-style(20px, 26px, 500, 5px);
  margin-bottom: 1.6rem;
}
.web__hero__text {
  color: #333136;
  @include font-style(16px, 26px, 400);
}

.web__hero__container__thirt {
  margin-top: 16rem;
  height: 640px;
  max-width: 1245px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "wd ad"
    "d gd";
  gap: 2.4rem;
}

@media screen and (max-width: 850px) {
  .main {
    padding: 0 4rem 0 4rem;
  }
  .web-header__hero__container {
    text-align: center;
    justify-content: center;
  }
  .web__hero {
    margin-bottom: 12rem;
    margin-top: 12rem;
  }

  .web__hero__container {
    display: flex;
    gap: 3.2rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .web__hero__container__second {
    display: flex;
    gap: 3.2rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .web__hero__items {
    display: flex;
  }

  .web-design__img {
    border-radius: 15px 0 0 15px;
  }
  .info__container {
    padding: 3.2rem;
    border-radius: 0 15px 15px 0;
    padding: 10rem 4rem;
  }

  .web__hero__container__thirt {
    padding-left: 3.9rem;
    padding-right: 4rem;
    height: auto;
    margin-top: 12rem;
  }
}

@media screen and (max-width: 450px) {
  .main {
    padding: 0 2.4rem 0 2.4rem;
  }
  .web-header__hero {
    padding: 10rem 2.4rem;
  }
  .web-header__hero__container {
    text-align: center;
    justify-content: center;
  }
  .web__hero {
    margin-bottom: 9.6rem;
    margin-top: 9.6rem;
  }

  .web__hero__container {
    display: flex;
    gap: 4rem;
  }
  .web__hero__container__second {
    display: flex;
    gap: 4rem;
  }

  .web__hero__items {
    flex-direction: column;
    justify-content: center;
  }

  .web-design__img {
    border-radius: 15px 15px 0 0;
  }
  .info__container {
    border-radius: 0 0 15px 15px;
    padding: 3.2rem 3rem;
  }
  .web__hero__container__thirt {
    padding-left: 2.4rem;
    padding-right: 2.4rem;
    grid-template-columns: 1fr;
    grid-template-areas:
      "wd"
      "ad"
      "d";
  }
}
